*{
	margin: 0;
}

h1 { 
	font-family: arial, veranda, sans-sarif;
	font-size: 35px;
	font-weight: lighter;
	text-decoration: underline;
	margin-left: 30px;
	margin-bottom: 0;
 }
 h2 {
	color: #696969;
	font-family: arial, veranda, sans-sarif;
	font-weight: lighter;
	font-size: 20px;
	

 }
hr {
	width: 100%;
	background-color: black;
}


p {
	font-family: arial, veranda, sans-sarif;
	font-size: 10px;
	overflow-wrap: break-word;
	color: grey;
	line-height: 1.5;
}

ul {
	display: none
}


.center{

	display:block;
	margin: 0 auto 5px auto;
}

.container-fluid{
 	display:grid;
 	padding: 0;
 }

.row {  
	display: flex;
	padding: 0;
}


.col {
	padding:0!important;
}




/*////////Header////////*/

  
.heading-content{
 	float:left;
 	max-width: 250px;
 	padding-left: 10px;
 	margin: 20px;
 }
.heading-box {
 	float: left;
 	height: 70px;
 	width: 100%;
 	margin: 0;
 	background-color: lightgrey;
 	}

.button{ 
	background-color: black;
	border: none;
 	color: white;
 	padding: 8px 12px;
 	margin-top: 10px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 10px;
	
 }


/*////////Contact////////*/




input {
	width: 100%;
	padding:10px 20px;
	margin: 5px 0 10px;
	box-sizing: border-box;
	float: left;
	display: inline-block;

}

label {
	color: white;
	font-family: arial, veranda, sans-sarif;
	font-size: 10px;
}

.center-label {
	text-align: center;
	display: block;
	font-size: 25px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.alt-label {
	color:red;
	font-size: 8px;
	float: right;
}

.submit-button{ 
	background-color: black;
	border: none;
 	color: white;
 	padding: 8px 15px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 10px;
	}



/*////////closing////////*/

.closing-content{
 	width: 100%;
 	height: 500px;
 	float: left;

 }

.contact-box {
	background-color: lightgrey;
	height: 500px;
	width: 100%;
	display: grid;
	box-sizing: border-box;
}

.contact-form {
	height: 400px;
	/*width: 300px;
	align-content: center;
	margin: auto;*/

}

textarea {
	width: 100%;
	padding:10px 20px 20px;
	margin: 5px 0 10px;
	height: 100px;
	box-sizing: border-box;
	float: center;
	border: none;
}

/*////////Queries////////*/
<script>
@media only screen and (min-width: 768px){
	 /* For desktop: */
	.heading-content{
 	float:left;
 	max-width: 28%;
 	padding-left: 10px;
 	margin: 20px;
 }

@media only screen and (max-width 768px){
	/*For Mobile*/
	.heading-content{
		margin:auto;
	}
	.h1 { margin: auto !important }
}

 html {
  	font-size: 1rem;
}

@include media-breakpoint-up(sm) {
 	 html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  	html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  	html {
    font-size: 1.6rem;
  }
}
  
</script>


